//COLORS

$Pink: hsl(322, 100%, 66%);
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);
$White:#fff;

//UI

$background-button:$Pink;
$background-body:$White;
$background-footer:$Very-Dark-Cyan;

$color-heading:$Very-Dark-Cyan;
$color-main:$Grayish-Blue;
$color-other:$Very-Dark-Cyan;
$color-footer:$White;