@import 'normalize','settings','variables';

//TYPOGRAPHY START

body {
    font-family: 'Open Sans', sans-serif;
    background: $background-body;
    text-align: center;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    color:$color-heading;
}

footer {
    background: $background-footer;
    color: $color-footer;
    text-align: left;
}

//TYPOGRAPHY END

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .main, .footer {
    max-width: 144rem;
}

.header {
    padding: 2.7rem 0 3.7rem;
    background: url(../images/bg-hero-mobile.svg) no-repeat, #EDFBFF;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    margin-bottom: 8rem;

    &__logo {
        width: 104px;
    }

    &__cta-link {
        color: $color-heading;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.3rem;
        padding: 0.4rem 2.2rem 0.6rem;
        background: $background-body;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);
        border-radius: 12px;
    }
}

.hero {
    padding: 0 3.5rem;

    &__heading {
        font-size: 2.4rem;
        line-height: 3.6rem;
        margin-bottom: 2.4rem;
    }

    &__about {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 3.2rem;
    }

    &__cta-link {
        display: inline-block;
        color: $White;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.6rem;
        background: $background-button;
        padding: 1rem 6rem 1.4rem;
        box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
        border-radius: 20px;
        margin-bottom: 5.6rem;
    }
}

.highlights {

    padding: 5.9rem 2rem 0;

    &__highlight {
        max-width: 123.2rem;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
        border-radius: 16px;
        padding: 2.4rem 4rem 3.3rem;
        margin: 0 auto 4rem;
    }

    &__highlight:last-child {
        margin-bottom: 0;
    }

    &__image-container {
        margin-bottom: 2.4rem;
    }

    &__heading {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1.6rem;
    }

    &__about {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $color-main;
    }
}

.cta-box {
    
    padding: 3.3rem 1.2rem 2rem;
    position: relative;
    top: 88px;
    z-index: 10;
    max-width: 50rem;
    margin: auto;
    text-align: center;

    &__container {
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
        border-radius: 15px; 
        padding: 4.1rem 1.2rem;
        background: $background-body;
    }
    
    &__heading {
        font-size: 1.8rem;
        line-height: 3rem;
        margin-bottom: 2.4rem;
    }
    
    &__link {
        display: inline-block;
        color: $White;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        background: $background-button;
        padding: 1.25rem 5rem;
        box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
        border-radius: 20px;
    }
}


.footer {
    padding: 15rem 1.6rem 4.6rem;
    font-size: 1.4rem;
    width: 100%;

    &__logo {
        width: 170px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7429%) hue-rotate(127deg) brightness(101%) contrast(101%);
        margin-bottom: 2.4rem;
    }

    &__icon {
        height: 24px;
    }

    &__icon-container {
        width: 24px;
        height: 24px;
        margin-right: 1.6rem;
        flex-shrink: 0;
    }

    &__content {
        line-height: 2.4rem;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2.4rem;
        max-width: 37.9rem;
    }

    &__list-item {
        margin-bottom: 1.6rem;
        list-style: none;
    }

    &__link {
        color: $color-footer;
        line-height: 2.7rem;
    }

    &__links-container {
        margin: 4.1rem 0 2.4rem;
    }

    &__social-block {
        display: flex;
        justify-content: center;
        gap: 1.1rem;
        margin-bottom: 2.4rem;
    }

    &__social-link {
        color: $color-footer;
        width: 32px;
        height: 32px;
        border: 1px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__copyright-container {
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.6rem;
        font-family: 'Poppins', sans-serif;
    }
}

@media screen and (min-width: 768px) {
    body {
        text-align: left;
    }

    .nav {
        margin-bottom: 7.1rem;

        &__logo {
            width: 20rem;
        }

        &__cta-link {
            padding: 1.3rem 6.4rem 1.6rem;
            font-size: 1.4rem;
            line-height: 1.9rem;
            box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
            border-radius: 2.4rem;
        }
    }

    .hero {
        display: flex;
        justify-content: space-between;

        &__content {
            width: 46.2%;
        }

        &__image-container {
            width: 47.2%;
        }
    }

    .highlights {

        &__highlight {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &__image {
            max-width: 44rem;
        }

        &__content {
            max-width: 48.8rem;
        }

        &__highlight-reverse {
            flex-direction: row-reverse;
        }

        &__image-container {
            margin: 0;
        }
    }

    .footer {

        padding: 15rem 3.2rem 4.6rem;

        &__content-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        &__links-container {
            margin: 0;
        }

        &__social-block {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}

@media screen and (min-width:1024px) {

    .footer {

        &__links-container {
            display: flex;
            gap: 13vw;
        }

        &__link:hover {
            text-decoration: underline;
        }

        &__social-link:hover {
            cursor: pointer;
            color: $Pink;
            border: 1px solid $Pink;
        }
    }

    .hero {
        &__cta-link:hover {
            background: hsla(321, 100%, 80%, 1);
        }
    }

    .cta-box {
        &__link:hover {
            background: hsla(321, 100%, 80%, 1);
        }
    }

    .nav {
        &__cta-link:hover {
            color:hsla(208, 12%, 55%, 1)
        }
    }
}

@media screen and (min-width: 1440px) {

    .main {
        width: 100%;
    }

    .header {
        padding: 6.8rem 8rem 7.2rem;
        background: url(../images/bg-hero-desktop.svg) no-repeat, #EDFBFF;
    }

    .nav {
        padding: 0;
    }

    .hero {
        padding: 0;
        align-items: center;
        gap: 5.4rem;

        &__content {
            width: 53.6rem;
        }

        &__image-container {
            width: 68rem;
        }

        &__heading {
            font-size: 4rem;
            line-height: 6rem;
            margin-bottom: 3.2rem;
        }

        &__about {
            font-size: 1.8rem;
            line-height: 2.7rem;
        }

        &__cta-link {
            font-size: 1.4rem;
            line-height: 1.9rem;
            box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
            border-radius: 28px;
            padding: 1.7rem 7rem 2rem;
        }
    }

    .highlights {

        padding: 16rem 0 0;

        &__highlight {
            padding: 5.3rem  0 5.3rem 12rem;
            gap: 16.8rem;
        }

        &__heading {
            font-size: 2.8rem;
            line-height: 4.2rem; 
        }

        &__about {
            font-size: 1.8rem;
            line-height: 2.7rem; 
        }
    }

    .cta-box {
        padding: 0;
        padding-top: 6.4rem;
        max-width: 80rem;

        &__container {
            padding: 5.6rem 12.9rem 5.2rem;
        }

        &__heading {
            font-size: 3.2rem;
            line-height: 6rem;
            margin-bottom: 3.2rem;
        }

        &__link {
            font-size: 2rem;
            line-height: 3rem;
            box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
            border-radius: 40px;
            padding: 2.5rem 10rem;
        }
    }

    .footer {
        padding: 14.4rem 7.8rem 6.4rem 12rem;

        &__container {
            margin-bottom: 1.6rem;
        }

        &__logo {
            margin-bottom: 3rem;
        }

        &__container:last-child {
            margin-bottom: 0;
        }

        &__content-wrapper {
            justify-content: flex-start;
        }

        &__about {
            margin-right: 13rem;
        }

        &__links-container {
            gap: 14rem;
            margin-right: 17.5rem;
        }

        &__social-block {
            flex-direction: row;
        }

        &__copyright-container {
            text-align: right;
            font-size: 1.2rem;
            line-height: 1.8rem;
            position: relative;
            top: -35px;
        }
    }
}